/* mainbody */
#bodytitle {
  background-color: #dbffff;
}
.pointer {
  cursor: pointer;
}
.mainbody {
  margin-bottom: 5px;
}
.mainbody > p {
  background-color: rgb(228, 228, 228);
}
#resultErea, #sentenceErea, #sentenceEreaR{
  background-color: #f7f7f7;
}
.button-erea {
  display: flex;
  margin-bottom: 5px;
}

/* settings */
summary {
  display: block;
  list-style: none;
  width: 50px;
  height: 35px;
}
#settei {
  margin-top: 0px;
  background-color: #ffb4b3;
  width: 50px;
  height: 35px;
}
#settings {
  background-color: #ffebde;
  margin-top: 5px;
  margin-left: 3px;
}
#customButton {
  margin-right: 2px;
  margin-bottom: 4px;
}
#custom-sentenceErea {
  margin-right: 16px;
  background-color: #f7f7f7;
}
.measure {
  display: flex;
}
.recommend {
  display: flex;
}
#customizeDot {
  width: 45px;
}
#customizeBar {
  width: 45px;
}
.settings-sentences {
  margin-top: 7px;
  margin-right: 16px;
  margin-bottom: 4px;
  background-color: #ffd7bd;
}

/* codeTables */
#codeTables {
  margin-top: 5px;
}
#hayami {
  margin-top: 0px;
  background-color: #ffb4b3;
  width: 130px;
  height: 35px;
}
.tables {
  display: flex;
  align-items: flex-start;
}

#settei:hover, #hayami:hover {
  background-color: #ffd4d4;
}